<div class="add-offer">
    <div class="add-offer__form"><h1 class="add-offer__title">Add new offer</h1>
        <div class="form">
            <div class="input"><input type="text" class="input__element"
                                      id="address" value=""
                                      placeholder="Address"></div>
            <div class="input"><input type="number" class="input__element"
                                      id="rooms" value=""
                                      placeholder="Number of rooms"></div>
            <div class="input"><input type="number" class="input__element"
                                      id="surface" value=""
                                      placeholder="Surface (m2)"></div>
            <div class="input"><input type="number" class="input__element"
                                      id="floor" value=""
                                      placeholder="Floor"></div>
            <div class="input"><label for="balcony" class="input__label">Has balcony</label><input type="checkbox"
                                                                                                   class="input__element"
                                                                                                   id="balcony" value=""
                                                                                                   placeholder="Has balcony">
            </div>
            <div class="input"><input type="text" class="input__element"
                                      id="description" value=""
                                      placeholder="Short description"></div>
            <div class="input"><label for="photo" class="input__label">Photos</label><input type="file"
                                                                                            class="input__element"
                                                                                            id="photo"
                                                                                            placeholder="Photos"
                                                                                            multiple=""></div>
        </div>
        <div class="add-offer__button add-offer__button_disabled">Add</div>
    </div>
</div>