<div class="password-page">
  <div class="password-page__form">
    <h1 class="password-page__title">
      Change password
    </h1>
    <div class="form">
      <div class="input">
        <input type="password" class="input__element"
               id="password" ng-model="password"
               placeholder="Password">
      </div>
      <div class="input">
        <input type="password" class="input__element"
               id="password_confirmation" ng-model="password_confirmation"
               placeholder="Password confirmation">
      </div>
    </div>
    <div ng-class="{'password-page__button': 1==1, 'password-page__button_disabled': !buttonEnabled}" ng-click="changePassword()">
      Set
    </div>
  </div>

</div>