<div class="offers">
    <div class="filter-panel">
        <div class="filter-panel__box">
            <div class="filter-panel__label">Floor</div>
            <input type="number" value="" class="filter-panel__input" placeholder="Floor"></div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Price</div>
            <div class="filter-panel__inputs-box"><input type="number" value="" class="filter-panel__input"
                                                         placeholder="Price from"><input type="number" value=""
                                                                                         class="filter-panel__input"
                                                                                         placeholder="Price to"></div>
        </div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Surface</div>
            <div class="filter-panel__inputs-box"><input type="number" value="" class="filter-panel__input"
                                                         placeholder="Minimum surface"><input type="number" value=""
                                                                                              class="filter-panel__input"
                                                                                              placeholder="Maximum Surface">
            </div>
        </div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Rooms</div>
            <div class="filter-panel__inputs-box"><input type="number" value="" class="filter-panel__input"
                                                         placeholder="Minimum rooms"><input type="number" value=""
                                                                                            class="filter-panel__input"
                                                                                            placeholder="Maximum rooms">
            </div>
        </div>
    </div>
    <h1 class="offers__title">Last seen offers</h1>
    <div class="offer-box">
        <div class="offer-box__photo"><img src="https://i.ytimg.com/vi/vUKlnOzHFTs/maxresdefault.jpg"></div>
        <div>
            <div class="offer-box__info">
                <div><b>Wenecjanska 8</b></div>
                <div>Awesome apartment!</div>
                <div><!-- react-text: 42 -->30<!-- /react-text --><!-- react-text: 43 --> m2<!-- /react-text --></div>
            </div>
            <div class="offer-box__buttons">
                <div class="offer-box__button offer-box__button_green">Buy</div><!-- react-text: 46 -->
                <!-- /react-text --><!-- react-text: 47 --><!-- /react-text --><!-- react-text: 48 -->
                <!-- /react-text --></div>
        </div>
    </div>
    <h1 class="offers__title">All offers</h1>
    <div class="offer-box">
        <div class="offer-box__photo"><img src="https://i.ytimg.com/vi/vUKlnOzHFTs/maxresdefault.jpg"></div>
        <div>
            <div class="offer-box__info">
                <div><b>Wenecjanska 8</b></div>
                <div>Awesome apartment!</div>
                <div><!-- react-text: 59 -->30<!-- /react-text --><!-- react-text: 60 --> m2<!-- /react-text --></div>
            </div>
            <div class="offer-box__buttons">
                <div class="offer-box__button offer-box__button_green">Buy</div><!-- react-text: 63 -->
                <!-- /react-text --><!-- react-text: 64 --><!-- /react-text --><!-- react-text: 65 -->
                <!-- /react-text --></div>
        </div>
    </div>
    <div class="offer-box">
        <div class="offer-box__photo"><img src="https://i.ytimg.com/vi/vUKlnOzHFTs/maxresdefault.jpg"></div>
        <div>
            <div class="offer-box__info">
                <div><b>Wenecjanska 8</b></div>
                <div>Awesome apartment!</div>
                <div><!-- react-text: 75 -->30<!-- /react-text --><!-- react-text: 76 --> m2<!-- /react-text --></div>
            </div>
            <div class="offer-box__buttons"><!-- react-text: 78 --><!-- /react-text -->
                <div class="offer-box__button offer-box__button_blue">Set sold</div>
                <a href="/edit-offer">
                    <div class="offer-box__button offer-box__button_grey">Edit</div>
                </a>
                <div class="offer-box__button offer-box__button_red">Remove</div>
            </div>
        </div>
    </div>
    <div class="offer-box">
        <div class="offer-box__photo"><img src="https://i.ytimg.com/vi/vUKlnOzHFTs/maxresdefault.jpg"></div>
        <div>
            <div class="offer-box__info">
                <div><b>Wenecjanska 8</b></div>
                <div>Awesome apartment!</div>
                <div><!-- react-text: 92 -->30<!-- /react-text --><!-- react-text: 93 --> m2<!-- /react-text --></div>
            </div>
            <div class="offer-box__buttons">
                <div class="offer-box__button offer-box__button_green">Buy</div><!-- react-text: 96 -->
                <!-- /react-text --><!-- react-text: 97 --><!-- /react-text --><!-- react-text: 98 -->
                <!-- /react-text --></div>
        </div>
    </div>
</div>