<div class="offers">
    <div class="filter-panel">
        <div class="filter-panel__box">
            <div class="filter-panel__label">Floor</div>
            <input type="number" value="" class="filter-panel__input" placeholder="Floor" ng-model="filters.floor" ng-change="updateFilter('floor')"></div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Price</div>
            <div class="filter-panel__inputs-box">
                <input type="number" class="filter-panel__input" placeholder="Price from" ng-model="filters.priceFrom" ng-change="updateFilter('priceFrom')">
                <input type="number" class="filter-panel__input" placeholder="Price to" ng-model="filters.priceTo" ng-change="updateFilter('priceTo')">
            </div>
        </div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Surface</div>
            <div class="filter-panel__inputs-box">
                <input type="number" class="filter-panel__input" placeholder="Minimum surface" ng-model="filters.surfaceFrom" ng-change="updateFilter('surfaceFrom')">
                <input type="number" class="filter-panel__input" placeholder="Maximum Surface" ng-model="filters.surfaceTo" ng-change="updateFilter('surfaceTo')">
            </div>
        </div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Rooms</div>
            <div class="filter-panel__inputs-box">
                <input type="number" class="filter-panel__input" placeholder="Minimum rooms" ng-model="filters.roomsFrom" ng-change="updateFilter('roomsFrom')">
                <input type="number" class="filter-panel__input" placeholder="Maximum rooms" ng-model="filters.roomsTo" ng-change="updateFilter('roomsTo')">
            </div>
        </div>
    </div>
    <h1 class="offers__title">Last seen offers</h1>

    <h1 class="offers__title">All offers</h1>

    <div class="offer-box" ng-repeat="offer in filteredEstates" ng-cloak>
        <div class="offer-box__photo">
            <img ng-src="[[ offer.images ]]">
        </div>
        <div>
            <div class="offer-box__info">
                <div><b>[[ offer.street ]]</b></div>
                <div>[[ offer.description ]]</div>
                <div>[[ offer.apartment_area ]] m2</div>
            </div>

            <div class="offer-box__buttons" ng-if="userId !== offer.user_id">
                <div class="offer-box__button offer-box__button_green" ng-click="buy(offer)">Buy</div>
            </div>

            <div class="offer-box__buttons" ng-if="userId === offer.user_id">
                <div class="offer-box__button offer-box__button_blue" ng-click="setSold(offer.id)" ng-if="offer.status !== 0">Set sold</div>
                <div class="offer-box__button offer-box__button_blue" ng-click="setSold(offer.id)" ng-if="offer.status === 0">Set for sale</div>
                <a href="/edit-offer">
                    <div class="offer-box__button offer-box__button_grey">Edit</div>
                </a>
                <div class="offer-box__button offer-box__button_red" ng-click="remove(offer.id)">Remove</div>
            </div>
        </div>
    </div>

</div>