<div class="offers">
    <div class="filter-panel">
        <div class="filter-panel__box">
            <div class="filter-panel__label">Floor</div>
            <input type="number" value="" class="filter-panel__input" placeholder="Floor"></div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Price</div>
            <div class="filter-panel__inputs-box"><input type="number" value="" class="filter-panel__input"
                                                         placeholder="Price from"><input type="number" value=""
                                                                                         class="filter-panel__input"
                                                                                         placeholder="Price to"></div>
        </div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Surface</div>
            <div class="filter-panel__inputs-box"><input type="number" value="" class="filter-panel__input"
                                                         placeholder="Minimum surface"><input type="number" value=""
                                                                                              class="filter-panel__input"
                                                                                              placeholder="Maximum Surface">
            </div>
        </div>
        <div class="filter-panel__box">
            <div class="filter-panel__label">Rooms</div>
            <div class="filter-panel__inputs-box"><input type="number" value="" class="filter-panel__input"
                                                         placeholder="Minimum rooms"><input type="number" value=""
                                                                                            class="filter-panel__input"
                                                                                            placeholder="Maximum rooms">
            </div>
        </div>
    </div>
    <h1 class="offers__title">Last seen offers</h1>

    <h1 class="offers__title">All offers</h1>

    <div class="offer-box" ng-repeat="offer in estates" ng-cloak>
        <div class="offer-box__photo">
            <img ng-src="[[ offer.images ]]">
        </div>
        <div>
            <div class="offer-box__info">
                <div><b>[[ offer.street ]]</b></div>
                <div>[[ offer.description ]]</div>
                <div>[[ offer.apartment_area ]] m2</div>
            </div>

            <div class="offer-box__buttons" ng-if="userId !== offer.user_id">
                <div class="offer-box__button offer-box__button_green">Buy</div>
            </div>

            <div class="offer-box__buttons" ng-if="userId === offer.user_id">
                <div class="offer-box__button offer-box__button_blue" ng-click="setSold(offer.id)" ng-if="offer.status !== 0">Set sold</div>
                <div class="offer-box__button offer-box__button_blue" ng-click="setSold(offer.id)" ng-if="offer.status === 0">Set for sale</div>
                <a href="/edit-offer">
                    <div class="offer-box__button offer-box__button_grey">Edit</div>
                </a>
                <div class="offer-box__button offer-box__button_red">Remove</div>
            </div>
        </div>
    </div>

</div>