<div class="login-page">
    <div class="login-page__form"><h1 class="login-page__title">Login</h1>
        <div class="form">
            <div class="input">
                <input type="text" class="input__element"
                       id="email" ng-model="email"
                       placeholder="Email">
            </div>
            <div class="input">
                <input type="password" class="input__element"
                       id="password" ng-model="password"
                       placeholder="Password">
            </div>
        </div>
        <div ng-class="{'login-page__button': 1 === 1, 'login-page__button_disabled': !buttonEnabled}"
             ng-click="login()">Login
        </div>
    </div>
</div>