<div class="report"><h1 class="report__title">August</h1>
    <div class="report__separator"></div>
    <h2 class="report__title"><i class="fa fa-home" aria-hidden="true"></i>
        <spa><!-- react-text: 21 --> Apartments sold: <!-- /react-text --><!-- react-text: 22 -->7
            <!-- /react-text --></spa>
    </h2>
    <h2 class="report__title"><i class="fa fa-money" aria-hidden="true"></i><span><!-- react-text: 26 --> Average price:
        <!-- /react-text --><!-- react-text: 27 -->148000<!-- /react-text --><!-- react-text: 28 --> USD
        <!-- /react-text --></span></h2>
    <h2 class="report__title"><i class="fa fa-arrows-alt" aria-hidden="true"></i><span><!-- react-text: 32 --> Average surface:
        <!-- /react-text --><!-- react-text: 33 -->89<!-- /react-text --><!-- react-text: 34 --> m2
        <!-- /react-text --></span></h2></div>